@model IEnumerable<EmployeeHistoryApplication.Models.JobHistory>

<h4>Job History</h4>
<table class="table">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Job Position</th>
            <th>Date From</th>
            <th>Date To</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model) //iteracija niz site i prikazuvanje vo tabela
        {
            <tr>
                <td>@job.CompanyName</td>
                <td>@job.JobPostition</td>
                <td>@job.dateFrom.ToShortDateString()</td>
                <td>@job.dateTo.ToShortDateString()</td>
                <td>
                    <form asp-controller="JobHistories" asp-action="Edit" asp-route-id="@job.Id" method="get">
                        <button type="submit" value="Edit" class="btn btn-primary">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="JobHistories" asp-action="Delete" asp-route-id="@job.Id" method="get">
                        <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
                    </form>
                </td>
               
              @*   <td>
                    <a asp-controller="JobHistories" asp-action="Delete" asp-route-id="@job.Id">Delete</a>
                </td> *@
            </tr>

      

        }
    </tbody>
</table>
