@model EmployeeHistoryApplication.Models.JobHistory
@using EmployeeHistoryApplication.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<JobHistoriesController> _localizer;

@{
    ViewData["Title"] = "Delete";
}

<h1>@_localizer["DeleteString"]</h1>

<h3>@_localizer["DeleteJobMessage"]</h3>
<div>
    <h4>@_localizer["JobHistory"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @_localizer["CompanyName"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @_localizer["JobPosition"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobPostition)
        </dd>
        <dt class = "col-sm-2">
            @_localizer["DateFrom"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFrom)
        </dd>
        <dt class = "col-sm-2">
            @_localizer["DateTo"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateTo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.Employee.Id">@_localizer["BackToEditEmployee"]</a> |
    </form>
</div>
