@model EmployeeHistoryApplication.Models.JobHistory
@using EmployeeHistoryApplication.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<JobHistoriesController> _localizer;

@{
    ViewData["Title"] = _localizer["EditString"];
}

<h1>@_localizer["EditString"]</h1>

<h4>@_localizer["JobHistory"]</h4>

<p>@ViewBag.EmployeeName</p>
<p>@ViewBag.EmployeeSurname</p>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.EmployeeId, new { value = ViewBag.EmployeeId })

            <div class="form-group">
                @(Html.Kendo().TextBox()
                    .Name("CompanyName")
                    .Label(l => l.Content(_localizer["CompanyName"]))
                    .Value(Model.CompanyName)
                    .HtmlAttributes(new { @class = "form-control" })
                    )
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                @(Html.Kendo().TextBox()
                    .Name("JobPostition")
                    .Label(l => l.Content(_localizer["JobPosition"]))
                    .Value(Model.JobPostition)
                    .HtmlAttributes(new { @class = "form-control" })
                    )
                <span asp-validation-for="JobPostition" class="text-danger"></span>
            </div>

            <label asp-for="dateFrom" class="control-label">@_localizer["DateFrom"]</label>

            <div class="form-group">
                @(Html.Kendo().DatePicker()
                    .Name("dateFrom")
                    .Value(Model.dateFrom)
                    .Format("dd/MM/yyyy")
                    .HtmlAttributes(new { @class = "form-control" })
                    )
                <span asp-validation-for="dateFrom" class="text-danger"></span>
            </div>

            <label asp-for="dateTo" class="control-label">@_localizer["DateTo"]</label>

            <div class="form-group">
                @(Html.Kendo().DatePicker()
                    .Name("dateTo")
                    .Value(Model.dateTo)
                    .Format("dd/MM/yyyy")
                    .HtmlAttributes(new { @class = "form-control" })
                    )
                <span asp-validation-for="dateTo" class="text-danger"></span>
            </div>

            <div class="form-group">
                @(Html.Kendo().Button()
                    .Name("SaveButton")
                    .Content(_localizer["Save"])
                    .HtmlAttributes(new { type = "submit" })
                    .ThemeColor(ThemeColor.Success)
                    )
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />

<div>
    @(Html.Kendo().Button()
        .Name("BackToEditEmployee")
        .Content(_localizer["BackToEditEmployee"])
        .HtmlAttributes(new { onclick = $"window.location.href='{Url.Action("Edit", "Employees", new { id = Model.EmployeeId })}'" })
        .ThemeColor(ThemeColor.Primary)
        )

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            kendo.culture("en-GB");
        });
    </script>
}
