@model EmployeeHistoryApplication.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMBG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMBG)
        </dd>
    </dl>
</div>
<<div>
    <h4>Job History</h4>
    <div>
        <a asp-action="Details" asp-route-id="@Model.Id" asp-route-sortOrder="dateFrom">Sort by Date From Ascending</a> |
        <a asp-action="Details" asp-route-id="@Model.Id" asp-route-sortOrder="dateFrom_desc">Sort by Date From Descending</a> |
        <a asp-action="Details" asp-route-id="@Model.Id" asp-route-sortOrder="dateTo">Sort by Date To Ascending</a> |
        <a asp-action="Details" asp-route-id="@Model.Id" asp-route-sortOrder="dateTo_desc">Sort by Date To Descending</a>
    </div>

    @Html.Partial("_JobHistoryList", Model.jobs)
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <div>
        <a asp-controller="Employees" asp-action="Index">View all employees</a>
    </div>
</div>
