@model EmployeeHistoryApplication.Models.Employee
@using EmployeeHistoryApplication.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<EmployeesController> _localizer;

@{
    ViewData["Title"] = "Edit";
}

<h1>@_localizer["EditString"]</h1>

<h4>@_localizer["Employee"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                @(Html.Kendo().TextBox()
                    .Name("Name")
                    .Label(l => l.Content(_localizer["Name"]))
                    .Value(Model.Name)
                    .HtmlAttributes(new { @class = "form-control" })
                    .Enable(true))  
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                @(Html.Kendo().TextBox()
                    .Name("Surname")
                    .Label(l => l.Content(_localizer["Surname"]))
                    .Value(Model.Surname)
                    .HtmlAttributes(new { @class = "form-control" })
                    .Enable(true))  
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                @(Html.Kendo().TextBox()
                    .Name("Adress")
                    .Label(l => l.Content(_localizer["Add"]))
                    .Value(Model.Adress)
                    .HtmlAttributes(new { @class = "form-control" })
                    .Enable(true))  
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>

            <div class="form-group">
                @(Html.Kendo().TextBox()
                    .Name("EMBG")
                    .Label(l => l.Content(_localizer["EMBG"]))
                    .Value(Model.EMBG)
                    .HtmlAttributes(new { @class = "form-control" })
                    .Enable(true))  <!-- Enable for editing -->
                <span asp-validation-for="EMBG" class="text-danger"></span>
            </div>

            <div class="form-group">
                @(Html.Kendo().Button()
                    .Name("SaveButton")
                    .Content(_localizer["Save"])
                    .HtmlAttributes(new { type = "submit" })
                    .ThemeColor(ThemeColor.Success))

            </div>
        </form>
    </div>
</div>


    @Html.Partial("_JobHistoryList2", ViewData["Jobs"])


<form asp-controller="JobHistories" asp-action="Create" asp-route-id="@Model.Id" method="get">
    @(Html.Kendo().Button()
        .Name("AddNewJobHistoryButton")
        .Content(_localizer["AddNewJobHistory"])
        .HtmlAttributes(new { type = "submit" })
        .ThemeColor(ThemeColor.Primary))
</form>

</div>
